
<!DOCTYPE html>
<html lang="en" class="no-js">

    <head>

        <meta charset="utf-8">
        <title>Fullscreen Login</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- CSS -->
        <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=PT+Sans:400,700'>
        <link rel="stylesheet" href="/static/assets/css/reset.css">
        <link rel="stylesheet" href="/static/assets/css/supersized.css">
        <link rel="stylesheet" href="/static/assets/css/style.css">

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

    </head>

    <body>

        <div class="page-container">
            <form action="/editpass" method="post">
                <input type="text" name="Username" class="username" placeholder="用户名">
                <input type="password" name="oldPassword" class="password" placeholder="原密码">
                <input type="password" name="newPassword" class="password" placeholder="新密码">
                <input type="password" name="renewPassword" class="password" placeholder="确认新密码">
                <button type="submit">确认修改</button>
            </form>
            <div  style="color:#000;height:50px;line-height:50px">{{error}}</div>
        </div>

        <!-- Javascript -->
        <script src="/static/assets/js/jquery-1.8.2.min.js"></script>
        <script src="/static/assets/js/supersized.3.2.7.min.js"></script>
        <script src="/static/assets/js/supersized-init.js"></script>
        <script src="/static/assets/js/scripts.js"></script>

    </body>

</html>

